<template>
  <v-data-table
    :items="data"
    item-key="name"
    :disable-pagination="selectedList"
    :headers="headers"
    :hide-default-footer="selectedList"
    show-select
    :search="selectedList ? '' : search"
    :value="value"
    @input="$emit('input', $event)"
    :footer-props="{
      itemsPerPageOptions: [25, 50, 75, 100],
    }"
  >
    <!-- eslint-disable-next-line  -->
    <template v-slot:header.data-table-select> </template>
    <!-- eslint-disable-next-line  -->
    <template v-slot:item.name="{ item }">
      <a :href="getWikiLink(item.wikiLink)" target="_blank">{{ item.name }}</a>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'GunDataTable',
  props: {
    data: Array,
    headers: Array,
    value: Array,
    search: String,
    selectedList: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    getWikiLink(relativeUrl) {
      return 'https://enterthegungeon.fandom.com' + relativeUrl;
    },
  },
};
</script>

<style></style>
