<template>
  <div>
    <h1 class="subtitle-1 pb-2">Starting Gungeoneer</h1>
    <div
      :class="[
        'd-flex',
        'justify-space-around',
        $vuetify.breakpoint.xs ? 'flex-column full-width' : 'full-width',
        $vuetify.breakpoint.mdAndDown ? 'flex-wrap' : '',
      ]"
    >
      <v-btn
        outlined
        v-for="g in gungeoneerPresets"
        :key="g.gungeoneer"
        @click="onGungeoneerSelect(g)"
        :class="[
          'text-none',
          'gungeoneer-select-button',
          'ma-3',
          $vuetify.breakpoint.xs ? 'my-3' : '',
        ]"
        >{{ g.gungeoneer }}</v-btn
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'GungeoneerSelect',
  data() {
    return {
      gungeoneerPresets: [
        {
          gungeoneer: 'The Convict',
          startingEquipment: ['Budget Revolver', 'Sawed-Off'],
        },
        {
          gungeoneer: 'The Hunter',
          startingEquipment: ['Rusty Sidearm', 'Crossbow'],
        },
        {
          gungeoneer: 'The Marine',
          startingEquipment: ['Marine Sidearm'],
        },
        {
          gungeoneer: 'The Pilot',
          startingEquipment: ['Rogue Special'],
        },
        {
          gungeoneer: 'The Cultist',
          startingEquipment: ['Dart Gun'],
        },
        {
          gungeoneer: 'The Bullet',
          startingEquipment: ['Blasphemy'],
        },
        {
          gungeoneer: 'The Robot',
          startingEquipment: ["Robot's Right Hand"],
        },
        {
          gungeoneer: 'The Gunslinger',
          startingEquipment: ['Slinger'],
        },
      ],
    };
  },
  methods: {
    onGungeoneerSelect(gungeoneer) {
      this.$emit('gungeoneer-select', gungeoneer.startingEquipment);
    },
  },
};
</script>

<style scoped>
.full-width {
  width: 100%;
}
</style>
