<template>
  <v-text-field
    :value="value"
    @input="$emit('input', $event)"
    append-icon="mdi-magnify"
    label="Search"
    single-line
    hide-details
  ></v-text-field>
</template>

<script>
export default {
  name: 'SearchBar',
  props: {
    value: String,
  },
};
</script>

<style scoped></style>
