<template>
  <v-app>
    <v-main>
      <h1 class="title">Gungeon Compare</h1>
      <!-- Show V-Tabs under xs breakpoint -->
      <v-container fluid v-if="$vuetify.breakpoint.xs">
        <v-tabs v-model="tab" grow>
          <v-tab>Data</v-tab>
          <v-tab key="Selected"
            >Selected{{
              selected.length > 0 ? ` (${selected.length})` : ''
            }}</v-tab
          >
          <v-tabs-items v-model="tab">
            <v-tab-item key="Data">
              <v-expand-transition>
                <GungeoneerSelect
                  v-if="selected.length == 0"
                  @gungeoneer-select="onGungeoneerSelect"
                />
              </v-expand-transition>
              <SearchBar v-model="search"></SearchBar>
              <GunDataTable
                :data="gunData"
                :headers="headers"
                :search="search"
                v-model="selected"
              />
            </v-tab-item>
            <v-tab-item key="Selected">
              <v-row class="ma-4">
                <v-btn
                  depressed
                  small
                  outlined
                  class="text-none"
                  @click="selected = []"
                >
                  Clear Selected
                </v-btn>
              </v-row>
              <GunDataTable
                :data="selected"
                :headers="headers"
                v-model="selected"
                selected-list
              />
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-container>
      <v-container fluid v-else>
        <v-expand-transition>
          <GungeoneerSelect
            v-if="selected.length == 0"
            class="my-3"
            @gungeoneer-select="onGungeoneerSelect"
          />
        </v-expand-transition>
        <v-expand-transition>
          <div v-show="selected.length > 0">
            <GunDataTable
              :data="selected"
              :headers="headers"
              v-model="selected"
              selected-list
            />

            <v-row class="ma-4">
              <v-btn
                depressed
                small
                outlined
                class="text-none"
                @click="selected = []"
              >
                Clear Selected
              </v-btn>
            </v-row>

            <v-divider class="my-5" />
          </div>
        </v-expand-transition>
        <SearchBar v-model="search"></SearchBar>
        <GunDataTable
          :data="gunData"
          :headers="headers"
          :search="search"
          v-model="selected"
        />
      </v-container>
    </v-main>
    <v-footer absolute app>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"
        ><img
          alt="Creative Commons License"
          style="border-width: 0"
          src="https://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a
      ><br />This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
        Creative Commons Attribution-NonCommercial 3.0 Unported License</a
      >.
    </v-footer>
  </v-app>
</template>

<script>
import gunData from './assets/data.json';
import SearchBar from '@/components/SearchBar';
import GunDataTable from '@/components/GunDataTable';
import GungeoneerSelect from '@/components/GungeoneerSelect';

export default {
  name: 'App',
  components: {
    GungeoneerSelect,
    SearchBar,
    GunDataTable,
  },
  data() {
    return {
      gunData,
      selected: [],
      preset: '',
      headers: [
        // { text: 'icon', value: 'icon' },
        {
          text: 'name',
          value: 'name',

          align: 'start',
        },
        // { text: 'wikiLink', value: 'wikiLink' },
        { text: 'quote', value: 'quote', sortable: false },
        {
          text: 'quality',
          value: 'quality',

          filterable: false,
          sort: this.qualitySort,
        },
        { text: 'type', value: 'type', filterable: false },
        { text: 'dps', value: 'dps', filterable: false },
        {
          text: 'magSize',
          value: 'magSize',

          filterable: false,
        },
        {
          text: 'ammo Capacity',
          value: 'ammoCapacity',

          filterable: false,
        },
        { text: 'damage', value: 'damage', filterable: false },
        {
          text: 'fireRate',
          value: 'fireRate',

          filterable: false,
        },
        {
          text: 'reload Time',
          value: 'reloadTime',

          filterable: false,
        },
        {
          text: 'shotSpeed',
          value: 'shotSpeed',

          filterable: false,
        },
        { text: 'range', value: 'range', filterable: false },
        { text: 'force', value: 'force', filterable: false },
        { text: 'spread', value: 'spread', filterable: false },
        { text: 'notes', value: 'notes', sortable: false },
      ],
      search: '',
      tab: null,
    };
  },
  methods: {
    qualitySort(a, b) {
      const S_QUALITY = 'S';
      if (a == b) return 0;
      if (a == S_QUALITY) return 1;
      if (b == S_QUALITY) return -1;
      if (a < b) return 1;
      if (a > b) return -1;
      return 0;
    },
    getWikiLink(relativeUrl) {
      return 'https://enterthegungeon.fandom.com' + relativeUrl;
    },
    onGungeoneerSelect(startingEquipment) {
      if (this.selected.length > 0) {
        return;
      }
      const startingEquipmentData = gunData.filter((gd) => {
        return startingEquipment.includes(gd.name);
      });
      this.selected.push(...startingEquipmentData);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
